ipykernel  # Needed for the Jupyter notebooks used
openai     # Needed for the embedding and LLM calls
numpy      # Needed for speeding up mathematical calculations
scikit-learn    # Needed for the cosine distance calculations
python-dotenv # To handle secrets such as API keys